<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<main>
			<form id="changeSettings" action="/settings" method="post">
				<input type="email" name="email" autocomplete="email" value=<%= user.email %> required style="display:none"/>
				<label>
					First name:
					<input type="text" name="firstName" autocomplete="name" value=<%= user.firstName%> required/>
				</label></br>
				<label>
					Last name:
					<input type="text" name="lastName" autocomplete="family-name" 
						<% if (user.lastName) { %>
							value=<%= user.lastName%>
						<% } %> 
						/>
				</label></br>
				<label>
					City:
					<input type="text" name="city" 
						<% if (user.city) { %>
								value=<%= user.city%>
						<% } %> 
					/>
				</label></br>
				<label>
					Country:
					<input type="text" name="country" autocomplete="country" 
						<% if (user.country) { %>
								value=<%= user.country%>
						<% } %> 
					/>
				</label></br>
				<button type="submit">Update data</button>
			</form>
			
			<form id="changePassword" action="/api/changePassword" method="post">
				<input type="email" name="email" autocomplete="email" value=<%= user.email %> required style="display:none"/>
				<label>
					Current password:
					<input type="password" name="password" autocomplete="current-password" required/>
				</label></br>
				<label>
					New password:
					<input type="password" name="newPassword" autocomplete="new-password" required/>
				</label></br>
				<button type="submit">Change password</button>
			</form>
			
			<button id="deleteAccount" type="button">Delete account</button>
			
		</main>
		
		<% include ../partials/controllers %>
	    <script type="text/javascript" src="common/actions.js"></script>
	</body>
</html>